
 body  {
    width: 96% ; 
    margin: auto;
flex-flow : column nowrap;
justify-content: flex-start;
align-items: center;
    }


    .cv  {
        width: 96% ; 
        margin: auto;
       

    }
    .liens   {
        
        /*position: relative;
        top: -50px;
        left: 20px;*/
               width: 50% ; 
               font-size: 1.2rem;
       color: rgb(13, 13, 229); 
      display: flex;
       flex-flow: row nowrap;
       justify-content: space-between;
       align-items: flex-start;

    }

.linkedin, .github {
    width: 55%;
    display: flex;
       flex-flow: row ;
       justify-content: center;
      
    
}


    .cv img {
        width: 100% ; 
        
    }

    a{
        text-decoration: none;
        color: rgb(7, 7, 129); 
    }