
 body  {
    width: 96% ; 
    margin: auto;
flex-flow : column nowrap;
justify-content: flex-start;
align-items: center;
    }


    .cv  {
        width: 96% ; 
        margin: auto;
       

    }
    .liens   {
        
        position: relative;
        top: -140px;
        left: 60px;
               width: 40% ; 
               font-size: 1.6rem;
       color: rgb(7, 7, 129); 
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-between;
       align-items: flex-start;

    }

    .cv img {
        width: 100% ; 
        
    }

    a{
        text-decoration: none;
        color: rgb(7, 7, 129); 
    }