
 body  {
    width: 96% ; 
    margin: auto;
flex-flow : column nowrap;
justify-content: flex-start;
align-items: center;
    }


    .cv  {
        width: 96% ; 
        margin: auto;

    }
    .cv img {
        width: 100% ; 
        
    }